<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find by ID</title>
</head>
<body>
    <h1>FIND TV</h1>
    <h3>Input id of object to find it</h3>
    <form th:action="@{/user/tvs/find/tv}" th:method="GET" th:object="${tv}">
        <label for="id">Id</label>
        <input type="number" id="id" th:field="*{id}"
               th:class="${#fields.hasErrors('id')}? fieldError">
        <div th:text="${message}">Error</div>

        <input type="submit" value="Find">
    </form>
</body>
</html>