<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
  <body>
    <form th:method="POST" th:action="@{/login}" th:object="${user}">
      <table>
        <tr>
          <td><h1>Log in</h1></td>
        </tr>

        <tr>
          <td><label for="username">Username</label></td>
          <td><input type="text" id="username" th:field="*{username}"></td>
        </tr>

        <tr>
          <td><label for="password">Password</label></td>
          <td><input type="password" id="password" th:field="*{password}"></td>
        </tr>

<!--        <tr>-->
<!--          <td>-->
<!--            <div style="color: red" th:text="${message}">Error</div>-->
<!--          </td>-->
<!--        </tr>-->

        <tr>
          <td><input type="submit" value="Log in"></td>
        </tr>

        <tr>
          <td><a th:href="@{/registration}" id="registration_button">Registration</a></td>
        </tr>
      </table>
    </form>
  </body>
</html>